<footer class="page-footer blue darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Thomas Melachos - UTFPR</h5>
        <p class="grey-text text-lighten-4"> Frameworks Web - Oximetro App </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/thcorr/uftpr-oximetro">Github</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    ©  Copyright {{ year }} - Thomas Melachos - Ano utilizando interpolation
    </div>
  </div>
</footer>
