<div *ngIf="isNewlyAdded()">
  <h5 class="green-text" color=green;>Entrada criada com sucesso!</h5>

</div>
<h5>Medidas cadastradas</h5>

  <table class="highlight" *ngIf="measures && measures!.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Data</th>
        <th>Nome</th>
        <th>Medida</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let m of measures">
        <td>{{ m.id }}</td>
        <td>{{ m.dataatual }}</td>
        <td>{{ m.nome | uppercase }}</td>
        <td>{{ m.medida }}</td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!measures || measures!.length == 0">
    <div class="row">
      <div class="center-align">
        <i class="col s12 material-icons large">mood_bad</i>
        <span class="col s12 flow-text"
          >Ainda não temos medidas cadastradas!</span
        >
      </div>
    </div>
  </div>

